body{
	background-color:#faebd7;
	color:#0000ff;
	font-family:"メイリオ","Hiragino Kaku Gothic Pro",sans-serif;
	margin:0;　auto;
	padding:0;
}
p{
	font-size:90%;
	line-height:1.8;
}
h1{
	font-size:180%;
	margin:0;
}
h2{
	font-size:120%;
	border-bottom:1px dashed #003366;
	border-left:10px solid #003366;
	padding-left:7px;
}
