body{
	background-color:#f0f8ff;
	color:##696969;
	font-family:"メイリオ","Hiragino Kaku Gothic Pro",sans-serif;
	margin:0;
	padding:0;
}
p{
	font-size:90%;
	line-height:1.8;
}
h1{
	font-size:180%;
	margin:0;
}
h2{
	font-size:120%;
	border-bottom:1px dashed #003366;
	border-left:10px solid #003366;
	padding-left:7px;
}

article{
	position:relative;
}

.maingazo{
	background-color:#0099ff;
}

ul{
	list-style-type:none;
	padding-left:0;
	line-height:1.8;
	font-size:90%;
}
ul time{
	border-radius:10px;
	background-color:#999999;
	color:#ffffff;
	font-size:90%;
	padding-left:5px;
	padding-right:5px;
	margin-right:5px;
}
nav ul{
	font-weight:bold;
	text-align:right;
	padding-top:26px;
	padding-bottom:5px;
	margin:0;
}
nav li{
	display:inline;
	padding-left:10px;
	padding-right:10px;
	border-right:1px solid #ffffff;
}
header img{
	float:left;
}
article{
	clear:both;
	width:960px;
	margin-left:auto;
	margin-right:auto;
}
